* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.tweet {
    display: flex;
    padding: 100px;
    background-color: lightblue;

    h2 {
        color: red;
    }
    button {
        background-color: green;
        border-color: 2px solid black;
    }
}